html {
    font-family: Arial;
}

#search-links{
    display: flex;
    justify-content: end;
}

.links {
    margin: 10px;
    font-size: 14px;
}

a {text-decoration: none;}

.search-bar {
    margin-top: 15%;
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    align-items: center;     /* center items vertically*/
}

.bar {
    border-radius: 25px;
    width: 560px;
    height: 40px;
    border-width: 1px;
}

.search-bar input[type=text]{
    font-size: 15px;
    padding-inline: 20px;
    border-width: 1px;
}

.search-bar input[type="submit"]{
    font-size: 14px;
    margin: 25px 4px;
    padding: 7px 14px;
}

@media (max-width: 650px){
    .bar{
        width: 337px;
    }
}